# try to understand whether the location affects the game results

Target Functions:
1. Analyse which City has the most preferred home-game field for each team
2. Analyse team performance related to city
3. Is Continent a factor that affect home/away team performance?

Features to be added in the future
1. relate City with Altitude
2. relate City with Season (Latitude and month)
3. ...

In [1]:
#import necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read data
data_df=pd.read_csv("01_data/soccer_results.csv")

In [5]:
#convert date to year/month/day
data_df['year']=pd.to_datetime(data_df['date']).dt.year
data_df['month']=pd.to_datetime(data_df['date']).dt.month
data_df['day']=pd.to_datetime(data_df['date']).dt.day
print(data_df.shape)
data_df.head()

(41865, 12)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month,day
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872,11,30
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873,3,8
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874,3,7
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875,3,6
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876,3,4

In [6]:
#define a function to determin winning team
def home_win_v2(home_away_list, flag):
    ''' Determine which if the home team wins the game by comparing home_score vs away_score
    
    INPUT:
    list of ['home_team','away_team','home_score','away_score']
    
    OUTPUT:

    if flag = 0
    2 - home win
    1 - tie
    0 - home lose

    if flag = 1
    name of the win team
    
    if flag = 2
    name of the lose team

    '''
    home_team = home_away_list[0]
    away_team = home_away_list[1]
    home_score = home_away_list[2]
    away_score = home_away_list[3]
    
    if home_score - away_score > 0:         # home team win
        return [2,home_team,away_team][flag]
    elif home_score - away_score == 0:      # tie
        return [1,"no_team","no_team"][flag]
    else:                                   # away team win
        return [0,away_team,home_team][flag]

In [8]:
#list out win_team and lose team
data_df['home_win_flag'] = data_df[['home_team','away_team','home_score','away_score']].apply(home_win_v2, args=(0,), axis=1)
data_df['win_team'] = data_df[['home_team','away_team','home_score','away_score']].apply(home_win_v2, args=(1,), axis=1)
data_df['lose_team'] = data_df[['home_team','away_team','home_score','away_score']].apply(home_win_v2, args=(2,), axis=1)
print(data_df.shape)
data_df.head(5)

(41865, 15)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month,day,home_win_flag,win_team,lose_team
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872,11,30,1,no_team,no_team
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873,3,8,2,England,Scotland
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874,3,7,2,Scotland,England
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875,3,6,1,no_team,no_team
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876,3,4,2,Scotland,England

In [24]:
# count England home game cites
data_df[(data_df['home_team'] == 'England' ) & (data_df['neutral'] == False)]['country'].value_counts()
data_df[(data_df['home_team'] == 'England' ) & (data_df['neutral'] == False)]['city'].value_counts()

London            336
Manchester         24
Liverpool          21
Birmingham         10
Sheffield           7
Newcastle           7
Sunderland          7
Blackburn           5
Wolverhampton       4
Middlesbrough       4
Stoke-on-Trent      3
Leeds               3
Derby               3
Southampton         2
West Bromwich       2
Bristol             2
Nottingham          2
Crewe               1
Ipswich             1
Bradford            1
Huddersfield        1
Burnley             1
Portsmouth          1
Leicester           1
Blackpool           1
Richmond            1
Name: city, dtype: int64

In [26]:
data_df[(data_df['home_team'] == 'China PR' ) & (data_df['neutral'] == False)]['city'].value_counts()

Beijing        68
Guangzhou      31
Wuhan          12
Shanghai       11
Tianjin        11
Kunming        10
Shenyang       10
Changsha        8
Xi'an           7
Dalian          6
Nanning         5
Shenzhen        5
Nanjing         5
Chongqing       5
Hangzhou        4
Chengdu         4
Qinhuangdao     2
Zhongshan       2
Hohhot          2
Suzhou          2
Hefei           2
Foshan          1
Anshan          1
Yiwu            1
Harbin          1
Kunshan         1
Jiangyin        1
Guiyang         1
Xiaogan         1
Zhengzhou       1
Nanchang        1
Chenzhou        1
Jinan           1
Zhuhai          1
Name: city, dtype: int64